* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 0px;
    /* background: #7d2ae8; */

}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: #12171e;
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content{
    left: 250px;
    width: calc(100% - 250px);  
}

.sidebar.active {
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: #fff;
    top: 0.4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo{
    opacity: 1;
}

.top .logo i {
    font-size: 2rem;
    margin-right: 6px;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 90%;
    margin: 0.8rem auto;
    line-height: 50px;
}

.sidebar ul li a{
    color: #fff; 
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    background-color: #fff;
    color: #12171e;
}

.sidebar ul li a i {
    text-align: center;
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}

.sidebar.active .nav-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;

}
.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    /* padding: 1rem; */
}

.container {
    display: flex;
    justify-content: center;    
    background-color: #12171e;
    color: #eee;
    height: 60px;
    text-align: center;
}

.container h1{
    padding-top: 0.4rem;
}
.message{
    /* color: green;  */
    font-weight: 600;
    /* border: #12171e; */
    /* border: 2px solid #12171e ; */
    border-radius: 16px;
    margin-bottom: 10px;
}

.body {
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.contain{
    position: relative;
    max-width: 1000px;
    /* height: calc(100% - 60px); */
    height: fit-content;
    width: 100%;
    border-radius: 6px;
    padding: 15px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.contain .title{
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

/* .contain .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background: #7d2ae8;
} */

.contain form{
    position: relative;
    margin-top: 16px;
    background-color: #fff;
    /* overflow: hidden; */
}

.contain form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contain span {
    color: red;
}

form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
    /* box-sizing: border-box; */
}

.input-field label{
    font-size: 16px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input, select,textarea{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 36px;
    margin: 5px 0;
}

.input-field textarea {
    height: 60px;
}

.contain form button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 15px 0;
    background-color: #4070f4;
}
.contain form .btnText{
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}
form .buttons{
    display: flex;
    align-items: center;
}

@media (max-width: 750px) {

    .contain {
        height: calc(100% - 60px);
    }
    .contain form{
        position: relative;
        height: calc(100% - 60px);
        width: 100%;
        border-radius: 10px;
        padding: 30px;
        background-color: #fff;
        /* box-shadow: 0 5px 5px rgba(0,0,0,0.1); */
        overflow-y: scroll;
    }

    .contain form::-webkit-scrollbar{
        display: none;
    }
    form .fields .input-field{
        width: calc(100% / 2 - 15px);
    }
    
}

@media (max-width: 550px) {
    form .fields .input-field{
        width: 100%;
    }
}

.error{
    color: red;
}

.success {
    color: green;
}

.formButtonsContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 20px 0 0;
    column-gap: 155px;
}

.formButtonsContainer button {
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 9px 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 25%;
    transition: all 30ms ease-in;
}