/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
    margin: 0px;
    /* background: #7d2ae8; */    
}

.main-content {
    position: relative;
    background-color: #eee;
    min-height: 100vh;
    top: 0;
    transition: all 0.5s ease;
    width: 100%;
    /* background: #7d2ae8; */
}
.container-1 {
    display: flex;
    justify-content: space-between;    
    background-color: #12171e;
    color: #eee;
    height: 60px;
    text-align: center;
}
.container-1 h1{
    padding-top: 0.4rem;
    font-weight: 500;
}

.container-1 h1 a {
    display: block;
    color: #fff;
    padding: 0 16px;
    text-decoration: none;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: calc(100% - 60px);
    padding: 30px;
}
.message{
    color: green; 
    font-weight: 600;
    /* border: #12171e; */
    /* border: 2px solid #12171e ; */
    border-radius: 16px;
    margin-bottom: 10px;
  }

.content {
    position: relative;
    max-width: 500px;
    width: 100%;
    background: #fff;
    /* padding: 40px 30px; */
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    padding: 30px;
    margin: 0 15px;
}

.content .title{
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

/* .content .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 60px;
    background: #7d2ae8;
} */

.content .input-fields {
    margin-top: 20px;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* height: 50px; */
    /* width: 100%; */
    /* margin: 8px 0; */
    /* position: relative; */
}

.content .input-field, .button{
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    padding: 10px;
}

.content .input-field label {
    /* padding: 10px 0; */
    font-size: 20px;
    font-weight: 600;
}

.content .input-field input {
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
}

/* .content .input-field .button{
    font-size: 24px;
    font-weight: 500;
    border-radius: 6px;
    background-color: #7d2ae8;
} */

.content .button input{
    font-size: 16px;
    font-weight: 500;
    border-radius: 6px;
    background-color: #7d2ae8;
    color: #fff;
    border: none;
}

.error {
    color: red;
    font-size: 14px;
    padding-left: 20px;
}

span{
    color: red;
}








