<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCMXPertLite Home</title>

    <!-- <link rel="stylesheet" href="/CSS/dashboard.css"> -->
    <link rel="stylesheet" href="/static/css/dashboard.css">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="fas fa-sailboat" style="font-size: 24px;"></i>
                <span> SCMXPertLite</span>
            </div>
            <i class="fas fa-bars" id="btn"></i>
        </div>

        <ul>
            {% for link in links %}
            <li>
                <a href="{{ link.url }}">
                    <i class="{{ link.icon }}"></i>
                    <span class="nav-item">{{ link.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
    
    <div class="main-content">
        <div class="container">
            <h1>Hi {{ user.Full_Name}}, Welcome to SCMXPert Lite</h1>
        </div>        
        <div class="body">
            <div class="content">
                <div class="part1">
                    <div class="context">
                        <div class="title">What we provide here?</div>
                        <div class="text">
                            <p>Here at our organization, we provide a comprehensive supply chain monitoring service that helps businesses streamline their operations and improve efficiency. Our experts use advanced technologies and analytical tools to monitor every aspect of the supply chain, from procurement to delivery. We track inventory levels, transportation times, and other critical metrics to ensure that products are delivered on time and at the lowest cost possible. </p>
                        </div>
                        <div class="redirect">
                            <div>Learn more</div>
                            <a href="/dashboard"><img src="/static/images/greater.png" alt=""></a>
                        </div>
                    </div>
                    <div class="images">
                        <img src="/static/images/img1.jpg">
                    </div>                 
                </div>

                <div class="part2">
                    <div class="images">
                        <img src="/static/images/img2.jpg" alt="Create Shipment">
                    </div>
                    <div class="context">
                        <div class="title">Our Create Shipment Service</div>
                        <div class="text">
                            <p>We offer a wide range of shipping options to suit your needs, including expedited delivery, same-day delivery, and economy shipping, ensuring that you have the flexibility to choose the shipping option that best meets your requirements. Our expedited delivery service is perfect for urgent shipments that need to be delivered quickly, while our same-day delivery service is ideal for time-sensitive shipments that need to be delivered on the same day.</p>    
                        </div>
                        <div class="redirect">
                            <div>Check It Out</div>
                            <a href="/createShipment"><img src="/static/images/greater.png"></a>
                        </div>
                    </div> 
                </div>

                <div class="part3">
                    <div class="context">
                        <div class="title">Our My Shipment Service</div>
                        <div class="text">
                            <p>With our My Shipments feature, you can manage your logistics operations more effectively and make informed decisions to optimize your supply chain. Start tracking your shipments today and experience the convenience and reliability of our SCM platform.</p>
                        </div>
                        <div class="redirect">
                            <div>Check It Out</div>
                            {% for link in d_links %}
                            <a href="{{link.url}}"><img src="/static/images/greater.png"></a>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="images">
                        <img src="/static/images/img3.jpg" alt="My Shipment">
                    </div> 
                </div>
            </div>
        </div>

    </div>  
    
</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function() {
        sidebar.classList.toggle('active');
    };
</script>

</html>