<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Device Data Stream</title>

    <!-- <link rel="stylesheet" href="/CSS/devicedata.css"> -->

    <link rel="stylesheet" href="/static/css/devicedata.css">

    <!-- Links for icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <i class="fas fa-sailboat" style="font-size: 24px;"></i>
                <span> SCMXPertLite</span>
            </div>
            <i class="fas fa-bars" id="btn"></i>
        </div>

        <ul>
            {% for link in links %}
            <li>
                <a href="{{ link.url }}">
                    <i class="{{ link.icon }}"></i>
                    <span class="nav-item">{{ link.name }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="main-content">
        <div class="container">
            <h1>Device Data Stream</h1>
        </div>

        <div class="body">
            <div class="contain">
                <div class="title">Device Data</div>
                <div class="table-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Device ID</th>
                                <th>Battery Level</th>
                                <th>First Sensor Temperature</th>
                                <th>Route From</th>
                                <th>Route To</th>

                            </tr>
                        </thead>
                        <tbody>
                            <!-- {% if user %} -->
                            {% for item in data_streaming %}
                            <tr>
                                <td data-label="Device ID">{{ item.Device_ID }}</td>
                                <td data-label="Battery Level">{{ item.Battery_Level }}</td>
                                <td data-label="First Sensor Temperature">{{ item.First_Sensor_Temperature }}</td>
                                <td data-label="Route From">{{ item.Route_From }}</td>
                                <td data-label="Route To">{{ item.Route_To }}</td>
                            </tr>
                            {% endfor %}
                            <!-- {% endif %} -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
</body>

<script>
    let btn = document.querySelector('#btn');
    let sidebar = document.querySelector('.sidebar');

    btn.onclick = function() {
        sidebar.classList.toggle('active');
    };
</script>

</html>