<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCMXPert Lite</title>

    <!-- <link rel="stylesheet" href="/CSS/homepage.css"> -->

    <link rel="stylesheet" href="/static/css/homepage.css">


    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>

    <div class="main-content">
        <div class="container">
            <h1><a href="/"><i class="fas fa-sailboat" style="padding-right: 5px;"></i>SCMXPert Lite</a></h1>
            <h1><a href="/login" style="float: right;">Login</a></h1>
        </div>

        <div class="main-body">
            <div class="content">
                <div class="title">Welcome to SCMXPert Lite</div>
                <p>We offer a simplified version of our services, perfect for small and medium-sized businesses who are looking
                    for cost-effective supply chain solutions.
                </p>
                    
                <p>At SCMXpert Lite, we understand that managing a complex supply chain can be a challenging task. 
                    That's why we offer a comprehensive suite of services, including procurement, inventory 
                    management, logistics, and distribution.</p>
                <p>Our state-of-the-art technology and analytics tools 
                    allow us to provide you with real-time visibility into your supply chain, enabling you to 
                    make data-driven decisions that drive operational efficiency and reduce costs. 
                </p>
                    
                <p>We take a customer-centric approach to our work, and we strive to build long-lasting partnerships with 
                    our clients. We work closely with you to understand your business requirements and develop customized 
                    solutions that meet your specific needs. Our team is always available to answer any questions you may 
                    have and provide you with the support you need to succeed.
                </p>
                    
                <p>Thank you for choosing SCMXpert Lite as your supply chain management partner. We look forward to working 
                    with you to help you achieve your business goals.
                </p>

                <div class="start">
                    <button><a href="/login">Get Started >></a></button>
                </div>
            </div>

            <div class="content-right">
                <img src="/static/images/scm.png" alt="">
            </div>
        </div>
    </div>
        
    </body>
</html>