<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCMXPert Lite</title>

    <link rel="stylesheet" href="/static/css/homepage.css">

    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    
    <div class="main-content">

        <div class="container">
            <h1><a href="/"><i class="fas fa-sailboat" style="padding-right: 5px;"></i>SCMXPertLite</a></h1>
            <h1><a href="/login" style="float: right;">Login</a></h1>
        </div>
        
        <div class="main-body">
            <div class="context">
                <div class="title">Supply Chain Management</div>
                <div class="text">
                    <p>Supply chain management is the process of managing the flow of goods and services from the point of origin to the point of consumption. It involves the coordination of various activities such as procurement, production, transportation, and distribution to ensure that products or services are delivered to customers in a timely and cost-effective manner. </p>
                    <p>The goal of scmxpert is to improve efficiency, reduce costs, and enhance customer satisfaction. With effective supply chain management, businesses can gain a competitive edge in the marketplace by delivering high-quality products and services at a lower cost than their competitors.</p>
                </div>
                <div class="redirect">
                    <div>Learn more</div>
                    <a href="/login"><img src="/static/images/greater.png" alt=""></a>
                </div>
            </div>
            <div class="images">
                <img src="/static/images/img1.jpg" alt="">
            </div>
        </div>
    </div>
        
</body>
</html>