<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password?</title>

    <!-- Links for icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css' rel='stylesheet'>

    <!-- <link rel="stylesheet" href="/CSS/forgotpassword.css"> -->

    <link rel="stylesheet" href="../static/css/forgotpassword.css">


</head>
<body>

    <div class="main-content">
        <div class="container-1">
            <h1><a href="/"><i class="fas fa-sailboat" style="padding-right: 5px;"></i>SCMXPertLite</a></h1>
            <h1><a href="/login" style="float: right;">Login</a></h1>
        </div>

        <div class="body">
            <div class="message">
                {% for message in message %}
                  {{message}}
                {% endfor %}
              </div> 
            <div class="content">
                <div class="title">Forgot Password?</div>
                <div class="otp-form">
                    <form action="/verify_otp" method="post" name="otpForm" id="otp-form">
                        <div class="input-fields">
                            <div class="input-field">
                                <label>Enter OTP<span>*</span></label>
                                <input type="number" placeholder="Enter your OTP" name="otp" id="otp">
                            </div>
                            <div class="error" id="otpErr">
                            </div>
                                
                            <div class="button input-field">
                                <input type="submit" value="Verify OTP" onclick="javascript:return validateOTP()">
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
        
    </div>
    
    <script src="../static/js/resetpassword.js"></script>

</body>

</html>